.center {
  margin: auto;
  width: 50%;
}

.tbluserDetails {
  margin-top: 10px;
}

.tbluserDetails th, .tbluserDetails td {
  padding: 5px;
}

.mat-header-row {
  background-color: #3171d24d;
}